In [1]:
import pandas as pd

In [45]:
DF = pd.read_csv('clusters_and_salary.csv', index_col = 0)
statsDF = pd.read_csv('Seasons_Stats.csv', index_col = 0)

In [46]:
DF.head()

,Year,Name,Salary%,Physical Cluster,Reg Performance Cluster,Adv Performance Cluster
0,2010,Aaron Brooks,3.495133,0,3,3
1,2010,Acie Law,1.097492,0,1,2
2,2010,Al Harrington,9.991334,1,0,3
3,2010,Al Horford,9.436494,1,0,2
4,2010,Al Jefferson,22.530329,1,3,2

In [47]:
statsDF.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [48]:
statsDF = statsDF[['Year', 'Player', 'Pos', 'Tm']]

In [49]:
statsDF = statsDF.dropna()

In [50]:
statsDF['Year'] = statsDF['Year'].astype(int)

In [51]:
statsDF.head()

   Year           Player  Pos   Tm
0  1950  Curly Armstrong  G-F  FTW
1  1950     Cliff Barker   SG  INO
2  1950    Leo Barnhorst   SF  CHS
3  1950       Ed Bartels    F  TOT
4  1950       Ed Bartels    F  DNN

In [52]:
def yearFilter(row):
    if not row['Year']:
        return
    if row['Year'] < 2010:
        return 
    elif row['Year'] > 2016:
        return
    else:
        return int(row['Year'])
statsDF['Year'] = statsDF.apply(yearFilter, axis = 1)
statsDF = statsDF.dropna()
statsDF.head()

         Year             Player Pos   Tm
19922  2010.0      Arron Afflalo  SG  DEN
19923  2010.0      Alexis Ajinca   C  CHA
19924  2010.0  LaMarcus Aldridge  PF  POR
19925  2010.0      Joe Alexander  SF  CHI
19926  2010.0        Malik Allen  PF  DEN

In [53]:
statsDF['Pos'].value_counts()

SG       847
PG       836
PF       831
SF       804
C        789
SG-PG     10
PG-SG      8
SF-PF      8
PF-SF      8
C-PF       7
SG-SF      7
SF-SG      6
PF-C       5
SG-PF      1
Name: Pos, dtype: int64

In [54]:
statsDF = statsDF.rename({'Player' : 'Name'}, axis = 'columns')

In [55]:
DF = DF.merge(statsDF, on = ['Year', 'Name'], how = 'left')

In [59]:
DF.head(50)

,Year,Name,Salary%,Physical Cluster,Reg Performance Cluster,Adv Performance Cluster,Pos,Tm
0,2010,Aaron Brooks,3.495133,0,3,3,PG,HOU
1,2010,Acie Law,1.097492,0,1,2,PG,TOT
2,2010,Acie Law,1.097492,0,1,2,PG,GSW
3,2010,Acie Law,1.097492,0,1,2,PG,CHA
4,2010,Acie Law,1.097492,0,1,2,PG,CHI
5,2010,Al Harrington,9.991334,1,0,3,PF,NYK
6,2010,Al Horford,9.436494,1,0,2,C,ATL
7,2010,Al Jefferson,22.530329,1,3,2,C,MIN
8,2010,Al Thornton,0.365830,1,2,2,SF,TOT
9,2010,Al Thornton,0.365830,1,2,2,SF,LAC
10,2010,Al Thornton,0.365830,1,2,2,SF,WAS
11,2010,Alonzo Gee,1.111163,0,1,2,SG,WAS
12,2010,Amar'e Stoudemire,28.572983,1,3,2,PF,PHO
13,2010,Anderson Varejao,12.620135,1,2,2,PF,CLE
14,2010,Andray Blatche,10.232499,1,0,2,PF,WAS
15,2010,Andre Iguodala,21.395581,0,0,1,SF,PHI
16,2010,Andre Miller,12.598378,0,0,0,PG,POR
17,2010,Andrea Bargnani,14.731369,1,0,3,PF,TOR
18,2010,Andrei Kirilenko,30.889081,1,2,0,SF,UTA
19,2010,Andres Nocioni,11.871750,1,2,1,SF,SAC
20,2010,Andrew Bogut,19.064125,1,0,2,C,MIL
21,2010,Andrew Bynum,23.743501,1,0,2,C,LAL
22,2010,Antawn Jamison,23.152348,1,3,0,PF,TOT
23,2010,Antawn Jamison,23.152348,1,3,0,PF,WAS
24,2010,Antawn Jamison,23.152348,1,3,0,PF,CLE
25,2010,Anthony Parker,4.949340,0,1,1,SG,CLE
26,2010,Anthony Randolph,3.406794,1,0,2,C,GSW
27,2010,Anthony Tolliver,3.812825,1,2,0,PF,TOT
28,2010,Anthony Tolliver,3.812825,1,2,0,PF,POR
29,2010,Anthony Tolliver,3.812825,1,2,0,PF,GSW
30,2010,Antoine Wright,1.480744,0,1,0,SF,TOR
31,2010,Antonio McDyess,8.422877,1,2,2,PF,SAS
32,2010,Arron Afflalo,3.396147,0,2,1,SG,DEN
33,2010,Austin Daye,3.126031,0,1,0,SF,DET
34,2010,Baron Davis,24.263432,0,0,1,PG,LAC
35,2010,Ben Gordon,18.717504,0,0,1,SG,DET
36,2010,Ben Wallace,3.604853,1,1,2,C,DET
37,2010,Beno Udrih,11.228076,0,0,1,PG,SAC
38,2010,Boris Diaw,15.597920,1,2,1,PF,CHA
39,2010,Brad Miller,7.625650,1,2,0,C,CHI
40,2010,Brandon Jennings,4.040069,0,0,3,PG,MIL
41,2010,Brandon Roy,23.576690,0,3,1,SG,POR
42,2010,Brandon Rush,3.585858,0,2,1,SG,IND
43,2010,Brendan Haywood,11.958406,1,2,2,C,TOT
44,2010,Brendan Haywood,11.958406,1,2,2,C,WAS
45,2010,Brendan Haywood,11.958406,1,2,2,C,DAL
46,2010,Brian Cook,1.986719,1,1,2,PF,HOU
47,2010,Brook Lopez,4.182530,1,3,2,C,NJN
48,2010,C.J. Watson,6.239168,0,2,0,PG,GSW
49,2010,Carlos Arroyo,0.339700,0,1,2,PG,MIA

In [58]:
testDF = DF.groupby(['Year', 'Name'])
testDF.count()

                          Salary%  Physical Cluster  Reg Performance Cluster  \
Year Name
2010 Aaron Brooks               1                 1                        1
     Acie Law                   4                 4                        4
     Al Harrington              1                 1                        1
     Al Horford                 1                 1                        1
     Al Jefferson               1                 1                        1
     Al Thornton                3                 3                        3
     Alonzo Gee                 1                 1                        1
     Amar'e Stoudemire          1                 1                        1
     Anderson Varejao           1                 1                        1
     Andray Blatche             1                 1                        1
     Andre Iguodala             1                 1                        1
     Andre Miller               1                 1                        1
     Andrea Bargnani            1                 1                        1
     Andrei Kirilenko           1                 1                        1
     Andres Nocioni             1                 1                        1
     Andrew Bogut               1                 1                        1
     Andrew Bynum               1                 1                        1
     Antawn Jamison             3                 3                        3
     Anthony Parker             1                 1                        1
     Anthony Randolph           1                 1                        1
     Anthony Tolliver           3                 3                        3
     Antoine Wright             1                 1                        1
     Antonio McDyess            1                 1                        1
     Arron Afflalo              1                 1                        1
     Austin Daye                1                 1                        1
     Baron Davis                1                 1                        1
     Ben Gordon                 1                 1                        1
     Ben Wallace                1                 1                        1
     Beno Udrih                 1                 1                        1
     Boris Diaw                 1                 1                        1
...                           ...               ...                      ...
2016 Thabo Sefolosha            1                 1                        1
     Thaddeus Young             1                 1                        1
     Tiago Splitter             1                 1                        1
     Tim Frazier                3                 3                        3
     Timofey Mozgov             1                 1                        1
     Tobias Harris              3                 3                        3
     Toney Douglas              1                 1                        1
     Tony Allen                 1                 1                        1
     Tony Parker                1                 1                        1
     Tony Snell                 1                 1                        1
     Trevor Ariza               1                 1                        1
     Trevor Booker              1                 1                        1
     Trey Burke                 1                 1                        1
     Trey Lyles                 1                 1                        1
     Troy Daniels               1                 1                        1
     Tyler Ennis                1                 1                        1
     Tyler Johnson              1                 1                        1
     Tyreke Evans               1                 1                        1
     Tyson Chandler             1                 1                        1
     Tyus Jones                 1                 1                        1
     Udonis Haslem              1                 1                        1
     Victor Oladipo             1                 1                        1
     Vince Carter               1                 1                        1
     Wayne Ellington            1                 1                        1
     Wesley Johnson             1                 1                        1
     Wesley Matthews            1                 1                        1
     Will Barton                1                 1                        1
     Willie Cauley-Stein        1                 1                        1
     Zach LaVine                1                 1                        1
     Zach Randolph              1                 1                        1

                          Adv Performance Cluster  Pos  Tm
Year Name
2010 Aaron Brooks                               1    1   1
     Acie Law                                   4    4   4
     Al Harrington                              1    1   1
     Al Horford                                 1    1   1
     Al Jefferson                               1    1   1
     Al Thornton                                3    3   3
     Alonzo Gee                                 1    1   1
     Amar'e Stoudemire                          1    1   1
     Anderson Varejao                           1    1   1
     Andray Blatche                             1    1   1
     Andre Iguodala                             1    1   1
     Andre Miller                               1    1   1
     Andrea Bargnani                            1    1   1
     Andrei Kirilenko                           1    1   1
     Andres Nocioni                             1    1   1
     Andrew Bogut                               1    1   1
     Andrew Bynum                               1    1   1
     Antawn Jamison                             3    3   3
     Anthony Parker                             1    1   1
     Anthony Randolph                           1    1   1
     Anthony Tolliver                           3    3   3
     Antoine Wright                             1    1   1
     Antonio McDyess                            1    1   1
     Arron Afflalo                              1    1   1
     Austin Daye                                1    1   1
     Baron Davis                                1    1   1
     Ben Gordon                                 1    1   1
     Ben Wallace                                1    1   1
     Beno Udrih                                 1    1   1
     Boris Diaw                                 1    1   1
...                                           ...  ...  ..
2016 Thabo Sefolosha                            1    1   1
     Thaddeus Young                             1    1   1
     Tiago Splitter                             1    1   1
     Tim Frazier                                3    3   3
     Timofey Mozgov                             1    1   1
     Tobias Harris                              3    3   3
     Toney Douglas                              1    1   1
     Tony Allen                                 1    1   1
     Tony Parker                                1    1   1
     Tony Snell                                 1    1   1
     Trevor Ariza                               1    1   1
     Trevor Booker                              1    1   1
     Trey Burke                                 1    1   1
     Trey Lyles                                 1    1   1
     Troy Daniels                               1    1   1
     Tyler Ennis                                1    1   1
     Tyler Johnson                              1    1   1
     Tyreke Evans                               1    1   1
     Tyson Chandler                             1    1   1
     Tyus Jones                                 1    1   1
     Udonis Haslem                              1    1   1
     Victor Oladipo                             1    1   1
     Vince Carter                               1    1   1
     Wayne Ellington                            1    1   1
     Wesley Johnson                             1    1   1
     Wesley Matthews                            1    1   1
     Will Barton                                1    1   1
     Willie Cauley-Stein                        1    1   1
     Zach LaVine                                1    1   1
     Zach Randolph                              1    1   1

[1937 rows x 6 columns]

In [43]:
###### test without team
smallStatsDF = statsDF.drop('Tm', axis = 'columns')
DF = DF.merge(smallStatsDF, on = ['Year', 'Name'], how = 'left')
DF.head()

,Year,Name,Salary%,Physical Cluster,Reg Performance Cluster,Adv Performance Cluster,Pos
0,2010,Aaron Brooks,3.495133,0,3,3,PG
1,2010,Acie Law,1.097492,0,1,2,PG
2,2010,Acie Law,1.097492,0,1,2,PG
3,2010,Acie Law,1.097492,0,1,2,PG
4,2010,Acie Law,1.097492,0,1,2,PG

In [60]:
DF.to_csv('cluster_pos_tm.csv')